<header>
    <h1>Petition</h1>
</header>
<h1 id="oops"> Oops, something went wrong! Try again!</h1>
<form class="" method="POST">
<div class="inputs">
        <h2>First Name</h2>
<input type="text" name="first-name" value="">
<br>
        <h2>Last Name</h2>
<input type="text" name="last-name" value="">
<br>
    <h2>E-mail</h2>
<input type="text" name="email" value="">
<br>
    <h2>Password</h2>
<input type="password" name="password" value="">
<br>
<input id="signature" type="hidden" name="signature" value="">
<br>
<!-- security reason -->
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button>Submit</button>
</div>
</form>
<canvas id="canvasinputbox" width="350" height="80"></canvas>
