


    <!-- <div class="container float-center "> -->
      <div class="row">
        <div class="col-9 rounded float-right">

            <h1>Thanks for your contribution</h1>

        <div class="col-4 ">
            <img src="{{img}}"class="rounded float-left" alt="">
            <br>Something here...</div>
        <div class="col-6 p-3 mb-2 bg-warning text-dark float-left rounded-pill">
               <a href="./signednames">{{id}} people and counting! Wanna see who else signed in?</a>
            </div>
            <footer><a href="./edit"><button class="btn btn-light rounded float-right">Edit Your Profile</button></a></footer>
        </div>
      </div>
    <!-- </div> -->





<!-- first-name and last-name>
